<launch>
  <param name="move_type" value="random" type="string"/>
  <param name="move_time" value="2" type="int"/>
  <node pkg="exercise2" type="move_service.py" name="service_node"  output="screen">
  </node>
  <node pkg="exercise2" type="move_client.py" name="client_node" output="screen">
  </node>
  <node pkg="exercise2" type="movement" name="movement"  output="screen">
    <remap from="cmd_vel" to="/turtle1/cmd_vel" />
  </node>

</launch>

